In [1]:
import pandas as pd

# Load the data.

url1a="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_3e892cf2eb634f72b7afa6b853810bd0.csv"
df1a=pd.read_csv(url1a)
url1b="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_ce3206be8a1d48b0bcad1df72de3782f.csv"
df1b=pd.read_csv(url1b)

url2a="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_bf6aaa4f694d4c7ab1943901cf8ce283.csv"
df2a=pd.read_csv(url2a)
url2b="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_82e8b2387b9a4200b63f2c9a1155aa8c.csv"
df2b=pd.read_csv(url2b)

url3="https://bd29ee0e-54ab-4daa-9671-d153865d1620.usrfiles.com/ugd/bd29ee_b8cfaac90a3e44faa6c943a2486889d0.csv"
df3=pd.read_csv(url3)

##### The datasets were downloaded from the National Centers For Environmental Information. NOAA does not restrict the date range, but it only allows downloading 500 events at a time.  From March 2007 to March 2021, there were almost 1000 episodes of drought . So, I had to download the drought data in two sets and merge them.

In [2]:
# Merge the drought datasets.
df1=pd.concat([df1a,df1b],axis=0).reset_index(drop=True)
df1.head()

   EVENT_ID  ... ABSOLUTE_ROWNUMBER
0     44668  ...                  1
1     44669  ...                  2
2     44665  ...                  3
3     44667  ...                  4
4     44658  ...                  5

[5 rows x 39 columns]

In [3]:
# Merge the wildfire dataset
df2=pd.concat([df2a,df2b],axis=0).reset_index(drop=True)
df2.head()

   EVENT_ID  ... ABSOLUTE_ROWNUMBER
0     22318  ...                  1
1     24655  ...                  2
2     29346  ...                  3
3     36098  ...                  4
4     36100  ...                  5

[5 rows x 39 columns]

In [4]:
# Information about the drought dataset.
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             861 non-null    int64
 1   CZ_NAME_STR          861 non-null    object
 2   BEGIN_LOCATION       861 non-null    object
 3   BEGIN_DATE           861 non-null    object
 4   BEGIN_TIME           861 non-null    int64
 5   EVENT_TYPE           861 non-null    object
 6   MAGNITUDE            861 non-null    object
 7   TOR_F_SCALE          861 non-null    object
 8   DEATHS_DIRECT        861 non-null    int64
 9   INJURIES_DIRECT      861 non-null    int64
 10  DAMAGE_PROPERTY_NUM  861 non-null    int64
 11  DAMAGE_CROPS_NUM     861 non-null    int64
 12  STATE_ABBR           861 non-null    object
 13  CZ_TIMEZONE          861 non-null    object
 14  MAGNITUDE_TYPE       861 non-null    object
 15  EPISODE_ID           861 non-null    int64
 16  CZ_TYPE              861 non-null    object
 17  CZ_FIPS              861 non-null    int64
 18  WFO                  861 non-null    object
 19  INJURIES_INDIRECT    861 non-null    int64
 20  DEATHS_INDIRECT      861 non-null    int64
 21  SOURCE               861 non-null    object
 22  FLOOD_CAUSE          861 non-null    object
 23  TOR_LENGTH           861 non-null    object
 24  TOR_WIDTH            861 non-null    object
 25  BEGIN_RANGE          861 non-null    object
 26  BEGIN_AZIMUTH        861 non-null    object
 27  END_RANGE            861 non-null    object
 28  END_AZIMUTH          861 non-null    object
 29  END_LOCATION         861 non-null    object
 30  END_DATE             861 non-null    object
 31  END_TIME             861 non-null    int64
 32  BEGIN_LAT            861 non-null    object
 33  BEGIN_LON            861 non-null    object
 34  END_LAT              861 non-null    object
 35  END_LON              861 non-null    object
 36  EVENT_NARRATIVE      290 non-null    object
 37  EPISODE_NARRATIVE    861 non-null    object
 38  ABSOLUTE_ROWNUMBER   861 non-null    int64
dtypes: int64(12), object(27)
memory usage: 262.5+ KB

In [5]:
# Information about the wildfire dataset
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             686 non-null    int64
 1   CZ_NAME_STR          686 non-null    object
 2   BEGIN_LOCATION       686 non-null    object
 3   BEGIN_DATE           686 non-null    object
 4   BEGIN_TIME           686 non-null    int64
 5   EVENT_TYPE           686 non-null    object
 6   MAGNITUDE            686 non-null    object
 7   TOR_F_SCALE          686 non-null    object
 8   DEATHS_DIRECT        686 non-null    int64
 9   INJURIES_DIRECT      686 non-null    int64
 10  DAMAGE_PROPERTY_NUM  686 non-null    int64
 11  DAMAGE_CROPS_NUM     686 non-null    int64
 12  STATE_ABBR           686 non-null    object
 13  CZ_TIMEZONE          686 non-null    object
 14  MAGNITUDE_TYPE       686 non-null    object
 15  EPISODE_ID           686 non-null    int64
 16  CZ_TYPE              686 non-null    object
 17  CZ_FIPS              686 non-null    int64
 18  WFO                  686 non-null    object
 19  INJURIES_INDIRECT    686 non-null    int64
 20  DEATHS_INDIRECT      686 non-null    int64
 21  SOURCE               686 non-null    object
 22  FLOOD_CAUSE          686 non-null    object
 23  TOR_LENGTH           686 non-null    object
 24  TOR_WIDTH            686 non-null    object
 25  BEGIN_RANGE          686 non-null    object
 26  BEGIN_AZIMUTH        686 non-null    object
 27  END_RANGE            686 non-null    object
 28  END_AZIMUTH          686 non-null    object
 29  END_LOCATION         686 non-null    object
 30  END_DATE             686 non-null    object
 31  END_TIME             686 non-null    int64
 32  BEGIN_LAT            686 non-null    object
 33  BEGIN_LON            686 non-null    object
 34  END_LAT              686 non-null    object
 35  END_LON              686 non-null    object
 36  EVENT_NARRATIVE      457 non-null    object
 37  EPISODE_NARRATIVE    686 non-null    object
 38  ABSOLUTE_ROWNUMBER   686 non-null    int64
dtypes: int64(12), object(27)
memory usage: 209.1+ KB

In [6]:
# information about the excessive heat dataset.
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             438 non-null    int64
 1   CZ_NAME_STR          438 non-null    object
 2   BEGIN_LOCATION       438 non-null    object
 3   BEGIN_DATE           438 non-null    object
 4   BEGIN_TIME           438 non-null    int64
 5   EVENT_TYPE           438 non-null    object
 6   MAGNITUDE            438 non-null    object
 7   TOR_F_SCALE          438 non-null    object
 8   DEATHS_DIRECT        438 non-null    int64
 9   INJURIES_DIRECT      438 non-null    int64
 10  DAMAGE_PROPERTY_NUM  438 non-null    int64
 11  DAMAGE_CROPS_NUM     438 non-null    int64
 12  STATE_ABBR           438 non-null    object
 13  CZ_TIMEZONE          438 non-null    object
 14  MAGNITUDE_TYPE       438 non-null    object
 15  EPISODE_ID           438 non-null    int64
 16  CZ_TYPE              438 non-null    object
 17  CZ_FIPS              438 non-null    int64
 18  WFO                  438 non-null    object
 19  INJURIES_INDIRECT    438 non-null    int64
 20  DEATHS_INDIRECT      438 non-null    int64
 21  SOURCE               438 non-null    object
 22  FLOOD_CAUSE          438 non-null    object
 23  TOR_LENGTH           438 non-null    object
 24  TOR_WIDTH            438 non-null    object
 25  BEGIN_RANGE          438 non-null    object
 26  BEGIN_AZIMUTH        438 non-null    object
 27  END_RANGE            438 non-null    object
 28  END_AZIMUTH          438 non-null    object
 29  END_LOCATION         438 non-null    object
 30  END_DATE             438 non-null    object
 31  END_TIME             438 non-null    int64
 32  BEGIN_LAT            438 non-null    object
 33  BEGIN_LON            438 non-null    object
 34  END_LAT              438 non-null    object
 35  END_LON              438 non-null    object
 36  EVENT_NARRATIVE      361 non-null    object
 37  EPISODE_NARRATIVE    438 non-null    object
 38  ABSOLUTE_ROWNUMBER   438 non-null    int64
dtypes: int64(12), object(27)
memory usage: 133.6+ KB

##### As shown, the BEGIN_DATE and END_DATE columns for all three datasets are of type "object". We need to convert that into "datetime64[ns]" format so that we can perform mathematical operations on it to get the duration.

In [7]:
def conversion(df):
  df['BEGIN_DATE']= pd.to_datetime(df['BEGIN_DATE'])
  df['END_DATE']= pd.to_datetime(df['END_DATE'])
  return df

In [8]:
df1=conversion(df1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             861 non-null    int64
 1   CZ_NAME_STR          861 non-null    object
 2   BEGIN_LOCATION       861 non-null    object
 3   BEGIN_DATE           861 non-null    datetime64[ns]
 4   BEGIN_TIME           861 non-null    int64
 5   EVENT_TYPE           861 non-null    object
 6   MAGNITUDE            861 non-null    object
 7   TOR_F_SCALE          861 non-null    object
 8   DEATHS_DIRECT        861 non-null    int64
 9   INJURIES_DIRECT      861 non-null    int64
 10  DAMAGE_PROPERTY_NUM  861 non-null    int64
 11  DAMAGE_CROPS_NUM     861 non-null    int64
 12  STATE_ABBR           861 non-null    object
 13  CZ_TIMEZONE          861 non-null    object
 14  MAGNITUDE_TYPE       861 non-null    object
 15  EPISODE_ID           861 non-null    int64
 16  CZ_TYPE              861 non-null    object
 17  CZ_FIPS              861 non-null    int64
 18  WFO                  861 non-null    object
 19  INJURIES_INDIRECT    861 non-null    int64
 20  DEATHS_INDIRECT      861 non-null    int64
 21  SOURCE               861 non-null    object
 22  FLOOD_CAUSE          861 non-null    object
 23  TOR_LENGTH           861 non-null    object
 24  TOR_WIDTH            861 non-null    object
 25  BEGIN_RANGE          861 non-null    object
 26  BEGIN_AZIMUTH        861 non-null    object
 27  END_RANGE            861 non-null    object
 28  END_AZIMUTH          861 non-null    object
 29  END_LOCATION         861 non-null    object
 30  END_DATE             861 non-null    datetime64[ns]
 31  END_TIME             861 non-null    int64
 32  BEGIN_LAT            861 non-null    object
 33  BEGIN_LON            861 non-null    object
 34  END_LAT              861 non-null    object
 35  END_LON              861 non-null    object
 36  EVENT_NARRATIVE      290 non-null    object
 37  EPISODE_NARRATIVE    861 non-null    object
 38  ABSOLUTE_ROWNUMBER   861 non-null    int64
dtypes: datetime64[ns](2), int64(12), object(25)
memory usage: 262.5+ KB

In [9]:
df2=conversion(df2)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             686 non-null    int64
 1   CZ_NAME_STR          686 non-null    object
 2   BEGIN_LOCATION       686 non-null    object
 3   BEGIN_DATE           686 non-null    datetime64[ns]
 4   BEGIN_TIME           686 non-null    int64
 5   EVENT_TYPE           686 non-null    object
 6   MAGNITUDE            686 non-null    object
 7   TOR_F_SCALE          686 non-null    object
 8   DEATHS_DIRECT        686 non-null    int64
 9   INJURIES_DIRECT      686 non-null    int64
 10  DAMAGE_PROPERTY_NUM  686 non-null    int64
 11  DAMAGE_CROPS_NUM     686 non-null    int64
 12  STATE_ABBR           686 non-null    object
 13  CZ_TIMEZONE          686 non-null    object
 14  MAGNITUDE_TYPE       686 non-null    object
 15  EPISODE_ID           686 non-null    int64
 16  CZ_TYPE              686 non-null    object
 17  CZ_FIPS              686 non-null    int64
 18  WFO                  686 non-null    object
 19  INJURIES_INDIRECT    686 non-null    int64
 20  DEATHS_INDIRECT      686 non-null    int64
 21  SOURCE               686 non-null    object
 22  FLOOD_CAUSE          686 non-null    object
 23  TOR_LENGTH           686 non-null    object
 24  TOR_WIDTH            686 non-null    object
 25  BEGIN_RANGE          686 non-null    object
 26  BEGIN_AZIMUTH        686 non-null    object
 27  END_RANGE            686 non-null    object
 28  END_AZIMUTH          686 non-null    object
 29  END_LOCATION         686 non-null    object
 30  END_DATE             686 non-null    datetime64[ns]
 31  END_TIME             686 non-null    int64
 32  BEGIN_LAT            686 non-null    object
 33  BEGIN_LON            686 non-null    object
 34  END_LAT              686 non-null    object
 35  END_LON              686 non-null    object
 36  EVENT_NARRATIVE      457 non-null    object
 37  EPISODE_NARRATIVE    686 non-null    object
 38  ABSOLUTE_ROWNUMBER   686 non-null    int64
dtypes: datetime64[ns](2), int64(12), object(25)
memory usage: 209.1+ KB

In [10]:
# conversion for the exxcessive heat dataset
df3=conversion(df3)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EVENT_ID             438 non-null    int64
 1   CZ_NAME_STR          438 non-null    object
 2   BEGIN_LOCATION       438 non-null    object
 3   BEGIN_DATE           438 non-null    datetime64[ns]
 4   BEGIN_TIME           438 non-null    int64
 5   EVENT_TYPE           438 non-null    object
 6   MAGNITUDE            438 non-null    object
 7   TOR_F_SCALE          438 non-null    object
 8   DEATHS_DIRECT        438 non-null    int64
 9   INJURIES_DIRECT      438 non-null    int64
 10  DAMAGE_PROPERTY_NUM  438 non-null    int64
 11  DAMAGE_CROPS_NUM     438 non-null    int64
 12  STATE_ABBR           438 non-null    object
 13  CZ_TIMEZONE          438 non-null    object
 14  MAGNITUDE_TYPE       438 non-null    object
 15  EPISODE_ID           438 non-null    int64
 16  CZ_TYPE              438 non-null    object
 17  CZ_FIPS              438 non-null    int64
 18  WFO                  438 non-null    object
 19  INJURIES_INDIRECT    438 non-null    int64
 20  DEATHS_INDIRECT      438 non-null    int64
 21  SOURCE               438 non-null    object
 22  FLOOD_CAUSE          438 non-null    object
 23  TOR_LENGTH           438 non-null    object
 24  TOR_WIDTH            438 non-null    object
 25  BEGIN_RANGE          438 non-null    object
 26  BEGIN_AZIMUTH        438 non-null    object
 27  END_RANGE            438 non-null    object
 28  END_AZIMUTH          438 non-null    object
 29  END_LOCATION         438 non-null    object
 30  END_DATE             438 non-null    datetime64[ns]
 31  END_TIME             438 non-null    int64
 32  BEGIN_LAT            438 non-null    object
 33  BEGIN_LON            438 non-null    object
 34  END_LAT              438 non-null    object
 35  END_LON              438 non-null    object
 36  EVENT_NARRATIVE      361 non-null    object
 37  EPISODE_NARRATIVE    438 non-null    object
 38  ABSOLUTE_ROWNUMBER   438 non-null    int64
dtypes: datetime64[ns](2), int64(12), object(25)
memory usage: 133.6+ KB

##### The "BEGIN_DATE" and "END_DATE" columns have been converted into "datetime64[ns]" format and we can perform mathematical operations on these columns to get the durations drought.

In [11]:
import numpy as np
def duration(df):
  df["DURATION"]=df['END_DATE']-df['BEGIN_DATE']
  df["DURATION"]=(df['DURATION'] / np.timedelta64(1, 'h'))- df["BEGIN_TIME"]/100+df["END_TIME"]/100
  return df

In [12]:
# Duration for the drought episodes.
df1=duration(df1)
df1.head()

   EVENT_ID  ... DURATION
0     44668  ...    696.0
1     44669  ...    696.0
2     44665  ...    696.0
3     44667  ...    696.0
4     44658  ...    696.0

[5 rows x 40 columns]

In [13]:
# Duration of wildfire episodes.
df2=duration(df2)
df2.head()

   EVENT_ID  ... DURATION
0     22318  ...    82.47
1     24655  ...     8.00
2     29346  ...    28.75
3     36098  ...    34.05
4     36100  ...    65.00

[5 rows x 40 columns]

In [14]:
# Duration of the excessive heat episodes
df3=duration(df3)
df3.head()

   EVENT_ID  ... DURATION
0     36754  ...    23.59
1     53471  ...    23.59
2     52840  ...    53.00
3     52838  ...    53.00
4     52837  ...    53.00

[5 rows x 40 columns]

In [15]:
import datetime

def Year(df):
  df["YEAR"]=pd.DatetimeIndex(df["BEGIN_DATE"]).year
  return df

In [16]:
# Extract the year from the drought dataset
df1=Year(df1)
df1.head()

   EVENT_ID                                        CZ_NAME_STR  ... DURATION  YEAR
0     44668              SAN DIEGO COUNTY COASTAL AREAS (ZONE)  ...    696.0  2007
1     44669                    SAN DIEGO COUNTY VALLEYS (ZONE)  ...    696.0  2007
2     44665                 ORANGE COUNTY COASTAL AREAS (ZONE)  ...    696.0  2007
3     44667  SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...  ...    696.0  2007
4     44658                            COACHELLA VALLEY (ZONE)  ...    696.0  2007

[5 rows x 41 columns]

In [17]:
# Extract year from the wildfire dataset.
df2=Year(df2)
df2.head()

   EVENT_ID                                        CZ_NAME_STR  ... DURATION  YEAR
0     22318           SANTA ANA MOUNTAINS AND FOOTHILLS (ZONE)  ...    82.47  2007
1     24655  LOS ANGELES COUNTY COASTS INCLUDING DOWNTOWN L...  ...     8.00  2007
2     29346  SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...  ...    28.75  2007
3     36098                               KERN CTY MTNS (ZONE)  ...    34.05  2007
4     36100                               KERN CTY MTNS (ZONE)  ...    65.00  2007

[5 rows x 41 columns]

In [18]:
# Extract year from the excessive heat dataset.
df3=Year(df3)
df3.head()

   EVENT_ID                             CZ_NAME_STR  ... DURATION  YEAR
0     36754      NORTHERN SAN JOAQUIN VALLEY (ZONE)  ...    23.59  2007
1     53471       NORTHERN SACRAMENTO VALLEY (ZONE)  ...    23.59  2007
2     52840  SAN BERNARDINO COUNTY MOUNTAINS (ZONE)  ...    53.00  2007
3     52838       RIVERSIDE COUNTY MOUNTAINS (ZONE)  ...    53.00  2007
4     52837       SAN DIEGO COUNTY MOUNTAINS (ZONE)  ...    53.00  2007

[5 rows x 41 columns]

In [19]:
def Month(df):
  df["Month"]=pd.DatetimeIndex(df["BEGIN_DATE"]).month
  return df

In [20]:
# Extract the month from the excessive heat dataset
df3=Month(df3)
df3.head()

   EVENT_ID                             CZ_NAME_STR  ...  YEAR Month
0     36754      NORTHERN SAN JOAQUIN VALLEY (ZONE)  ...  2007     5
1     53471       NORTHERN SACRAMENTO VALLEY (ZONE)  ...  2007     7
2     52840  SAN BERNARDINO COUNTY MOUNTAINS (ZONE)  ...  2007     7
3     52838       RIVERSIDE COUNTY MOUNTAINS (ZONE)  ...  2007     7
4     52837       SAN DIEGO COUNTY MOUNTAINS (ZONE)  ...  2007     7

[5 rows x 42 columns]

##### According to the record of the [CALIFORNIA DEPARTMENT OF FORESTRY AND FIRE PROTECTION (Cal Fire)](https://www.fire.ca.gov/media/4jandlhh/top20_acres.pdf), five of six largest wildfires ever recorded in California's history occured in 2020. Among those five largest wildfires, four were recorded in August 2020 and one was recorded in September 2020. What happened in August and September of 2020 in terms of weather?

In [21]:
def summary1(df):
  summary1=pd.DataFrame(df.groupby("YEAR")["EVENT_ID"].count()).reset_index().rename(columns={"EVENT_ID":"#_OF_EPISODES"})
  return summary1

In [22]:
# Number of drought episdoes in each year.
summary1_df1=summary1(df1)
summary1_df1

   YEAR  #_OF_EPISODES
0  2007             77
1  2008             77
2  2009            133
3  2014            134
4  2015            205
5  2016            180
6  2017             20
7  2020             20
8  2021             15

In [23]:
# number of wildfire episodes each year.
summary1_df2=summary1(df2)
summary1_df2

    YEAR  #_OF_EPISODES
0   2007             63
1   2008             67
2   2009             40
3   2010             24
4   2011             21
5   2012             22
6   2013             42
7   2014             59
8   2015             34
9   2016             41
10  2017             59
11  2018             40
12  2019             56
13  2020            114
14  2021              4

In [24]:
# number of excessive heat episodes each year.
summary1_df3=summary1(df3)
summary1_df3

   YEAR  #_OF_EPISODES
0  2007             36
1  2008             19
2  2011              1
3  2013             16
4  2014              1
5  2016             23
6  2017             49
7  2018             64
8  2019             87
9  2020            142

In [25]:
def summary2(df):
  summary2=pd.DataFrame(df.groupby("YEAR")["DURATION"].mean()).rename(columns={"DURATION":"AVERAGE_DURATION_IN_HRS"}).reset_index()
  return summary2

In [26]:
# Average duration of drought episodes each year.
summary2_df1=summary2(df1)
summary2_df1

   YEAR  AVERAGE_DURATION_IN_HRS
0  2007               726.562857
1  2008               669.466753
2  2009               729.153910
3  2014               729.622910
4  2015               713.280049
5  2016               705.201389
6  2017               587.765500
7  2020               562.589500
8  2021               719.590000

In [27]:
# Average duration of wildfire episodes each year.
summary2_df2=summary2(df2)
summary2_df2

    YEAR  AVERAGE_DURATION_IN_HRS
0   2007               142.218889
1   2008               339.608806
2   2009               220.240500
3   2010               278.422917
4   2011               163.864762
5   2012               154.870000
6   2013               225.445000
7   2014               230.075763
8   2015               266.233529
9   2016               252.421463
10  2017               315.482542
11  2018               306.241250
12  2019               113.505179
13  2020               316.339123
14  2021                31.350000

In [28]:
# Average duration of excessive heat episodes each year.
summary2_df3=summary2(df3)
summary2_df3

   YEAR  AVERAGE_DURATION_IN_HRS
0  2007                36.945278
1  2008                15.263158
2  2011               130.000000
3  2013                16.235625
4  2014                 0.000000
5  2016                35.000000
6  2017                36.408163
7  2018                50.812500
8  2019                40.883908
9  2020                69.656831

##### The analysis shows that 2020 is not a particularly dry years, but it was a particularly hot year. For all the years for which data is available, the year 2020 had the highest number of excessive heat episodes. Furthermore, the average duration of heat episodes was also much longer in 2020. 

##### Let's see how many of those excessive heat episodes in 2020 were recorded in the month of August.

In [31]:
df3[df3["YEAR"]==2020].groupby("Month")["EVENT_ID"].count()

Month
4      3
5     26
6      6
7     25
8     50
9     28
10     4
Name: EVENT_ID, dtype: int64

##### The year of 2020 had the highest number of excessive episodes in the past two decades and Agusut of 2020 saw the largest number of excessive episodes in 2020, with September in second place. The prolonged periods with high temperature in August and September of 2020 had contributed to five of the largest wildfires in California's history. On the other hand, drought did not seem to have been a problem. The driest years in CA since 2007 were 2014, 2015 and 2016. However, according to Cal Fire's record, none of the 20 largest wildfires occured in those years.

##### Conclusion:

##### California's fire season in 2021 might even be worse than it was in 2020, due to the following two reasons:


*   The recored heat waves this year. The excessive heat dataset downloaded from NOAA does not have data for the year 2021. However, we all know that so far this year, CA had recorded some of the higest temperatures in recent history. This excessive heat will highly likely pose a challenge for the state's firefighting efforts, as it had shown in August and September of 2020.
*   2021 so far has also seen some of the most prolonged drought in CA. We are only halfway through 2021. However, there have already been 15 drought episodes recorded in the state so far. That is 75% of the total drought episodes in 2020, the year that CA recorded five of its six largest wildfires in history. Furthermore, the drought episodes recorded in 2021 have been more prolonged than those recorded in 2020. 

##### Excessive heat combined with prolonged drought, Californnia's wildfire season might even be worse than 2020.